
.navigation{
  @apply fixed bg-gray-800 w-64 h-screen ;
}
.navigation a{
  text-decoration:none;
}

.menu{
    &{
      display:block;
    }
    &>a{
      position:relative;
    }
    &-item-subs{
      width:100%;
    }
  }
  
  .size{
    &-s{
      padding: 5px 18px;
    }
    &-m{
      padding: 8px 28px;
    }
    &-l{
      padding: 12px 38px;
    }
  }
  
  .caret{
    position:absolute;
    right:0;
    transform:translateY(-50%);
  }
  .active{
    background-color: #ffffff0f;
  }
  .item-active{
    background-color: #ffffff28;
      color: black;
  }

  .dashboardMenu{
    width:250px;
    height:100%;
    position:fixed;
    left: 0;
    top:0;
    box-sizing:border-box;
    overflow: hidden auto;
    padding-bottom: 68px;
}
/* .logout{
    position:absolute;
    bottom:0;
    left:0;
    position: fixed;
    width: 250px;
}
.logout:hover{
    color:red;
} */

@media (max-width: 768px){
  .navigation{
    @apply fixed bg-transparent w-full h-screen -left-full transition top-0;
    transition-property: left;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 0.5s;
  }
  .navigation > div{
    @apply bg-gray-800 w-9/12 h-screen ;
  }
  .navigation.active{
    @apply left-0;
  }
  .navigation a{
    text-decoration:none;
  }
}